.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% 0;
}

.greeting-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  background-color: #183e63;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
